[metrics]

[metrics.billed_revenue]
select_expression = "SUM(billed_revenue)"
data_source = "admarketplace"
description = "Revenue reported by Admarketplace. Will almost always have a few days of lag"

[metrics.spoc_impressions]
select_expression = "SUM(impressions)"
data_source = "consolidated_ads_spocs"
friendly_name = "SPOC impressions"
description = "Daily SPOC impressions"

[metrics.spoc_clicks]
select_expression = "SUM(clicks)"
data_source = "consolidated_ads_spocs"
friendly_name = "SPOC clicks"
description = "Daily SPOC clicks"

[metrics.spoc_revenue]
select_expression = "SUM(revenue)"
data_source = "consolidated_ads_spocs"
friendly_name = "SPOC revenue"
description = "Daily SPOC revenue"

[metrics.ppa_conversions]
select_expression = "SUM(conversion_count)"
data_source = "ppa_measurements"
friendly_name = "PPA conversions"
description = "Privacy-Preserving Attribution (PPA) conversions"

[metrics.billed_revenue.statistics.sum]
[metrics.spoc_impressions.statistics.sum]
[metrics.spoc_clicks.statistics.sum]
[metrics.spoc_revenue.statistics.sum]

[metrics.native_spend]
select_expression = "SUM(spend)"
data_source = "native_desktop_ad_metrics_hourly"
friendly_name = "Native Spend"
description ="Native Desktop Metrics spend"

[metrics.native_dismisses]
select_expression = "SUM(dismisses)"
data_source = "native_desktop_ad_metrics_hourly"
friendly_name = "Native Dismisses"
description ="Native Desktop Metrics dismisses"

[metrics.native_clicks]
select_expression = "SUM(clicks)"
data_source = "native_desktop_ad_metrics_hourly"
friendly_name = "Native Clicks"
description ="Native Desktop Metrics clicks"

[metrics.native_saves]
select_expression = "SUM(saves)"
data_source = "native_desktop_ad_metrics"
friendly_name = "Native Saves"
description ="Native Desktop Metrics saves"

[metrics.native_dismiss_rate]
select_expression = "AVG(dismiss_rate)"
data_source = "native_desktop_ad_metrics"
friendly_name = "Native Dismiss Rate"
description ="Native Desktop Metrics dismiss rate"

[metrics.native_click_rate]
select_expression = "AVG(click_rate)"
data_source = "native_desktop_ad_metrics"
friendly_name = "Native Click Rate"
description ="Native Desktop Metrics click rate"

[metrics.native_save_rate]
select_expression = "AVG(save_rate)"
data_source = "native_desktop_ad_metrics"
friendly_name = "Native Desktop Save Rate"
description ="Native Desktop Metrics save rate"

[data_sources]

[data_sources.admarketplace]
from_expression = "mozdata.revenue.admarketplace"
client_id_column = "NULL"
friendly_name = "Admarketplace"
description = "Revenue numbers reported by AMP"
columns_as_dimensions = true
submission_date_column = "adm_date"

[data_sources.consolidated_ads_spocs]
from_expression = """
(
  SELECT
    DATE(submission_timestamp) AS submission_date,
    advertiser as client,
    campaign_name,
    targeted_country,
    rate_type,
    creative_title as title,
    creative_url as url,
    image_url as image,
    SUM(impressions) AS impressions,
    SUM(clicks) AS clicks,
    SUM(revenue) AS revenue
  FROM `mozdata.ads.consolidated_ad_metrics_hourly`
  GROUP BY
    submission_date,
    advertiser,
    campaign_name,
    targeted_country,
    rate_type,
    creative_title,
    creative_url,
    image_url
)
"""
friendly_name = "Default Looker Base Fields for Firefox SPOC Reporting"
description = """
  Default fields used to filter and segment metric definition views in Looker
  for Firefox SPOC reporting
"""
columns_as_dimensions = true
submission_date_column = "submission_date"
client_id_column = "NULL"

[data_sources.ppa_measurements]
from_expression = """
(
  SELECT
    *,
    DATE(collection_time) AS submission_date
  FROM `mozdata.ads.ppa_measurements`
)
"""
client_id_column = "NULL"
friendly_name = "PPA Measurements"
description = "Aggregated conversion data from Privacy-Preserving Attribution (PPA)"
columns_as_dimensions = true
submission_date_column = "submission_date"


[data_sources.native_desktop_ad_metrics_hourly]
from_expression = """
(
  SELECT
    submission_date,
    spoc_id,
    position,
    advertiser,
    campaign_name,
    title,
    flight_id,
    creative_type,
    site_name,
    zone_name,
    country,
    rate_type,
    pid,
    ad_url,
    image_url,
    external_param,
    impressions,
    clicks,
    click_rate,
    dismisses,
    dismiss_rate,
    saves,
    save_rate,
    campaign_id,
    spend
  FROM `moz-fx-data-shared-prod.ads.native_desktop_ad_metrics_hourly`
  WHERE submission_date = @submission_date
)
"""
friendly_name = "Native Desktop AD Metrics"
description = """
  Tracks Native Desktop Ad Metrics
"""
columns_as_dimensions = true
submission_date_column = "submission_date"
client_id_column = "NULL"
