# Metrics

[metrics.days_of_use.statistics.average]

[metrics.socket_crash_count_v1.statistics.sum]
[metrics.socket_crash_active_hours_v1.statistics.sum]
[metrics.socket_crash_dau_v1.statistics.sum]
[metrics.socket_crash_active_hours_v1.statistics.client_count]
[metrics.socket_crash_count_v1.statistics.ratio]
numerator = "socket_crash_count_v1.sum"
denominator = "socket_crash_active_hours_v1.sum"


## OKRs example

[metrics.desktop_engagement_dau_v1]
select_expression = "SUM(dau)"
data_source = "desktop_engagement_v1"
friendly_name = "(non-official) DAU"
description = "(non-official) Daily active users on desktop based on engagment data"

[metrics.desktop_engagement_wau_v1]
select_expression = "SUM(wau)"
data_source = "desktop_engagement_v1"
friendly_name = "(non-official) WAU"
description = "(non-official) Weekly active users on desktop based on engagment data"

[metrics.desktop_engagement_mau_v1]
select_expression = "SUM(mau)"
data_source = "desktop_engagement_v1"
friendly_name = "(non-official) MAU"
description = "(non-official) Monthly active users on desktop based on engagment data"


[metrics.desktop_engagement_dau_v1.statistics.sum]
[metrics.desktop_engagement_wau_v1.statistics.sum]
[metrics.desktop_engagement_mau_v1.statistics.sum]

[metrics.desktop_engagement_dau_v1.statistics.ratio]
numerator = "desktop_engagement_dau_v1.sum"
denominator = "desktop_engagement_mau_v1.sum"

[metrics.desktop_engagement_dau_v1.statistics.rolling_average]
window_sizes = [1, 7, 28]


# Data sources

[data_sources.looker_base_fields]
from_expression = """
(
  SELECT
    client_id,
    submission_date,
    sample_id,
    app_name,
    app_version,
    normalized_channel,
    country,
    experiments,
    os,
    locale,
    is_default_browser,
    partner_id,
    distribution_id,
    default_search_engine,
    normalized_os_version
  FROM
    `moz-fx-data-shared-prod`.telemetry_derived.clients_daily_v6
)
"""
friendly_name = "Default Looker Base Fields for Firefox Desktop"
description = """
  Default fields used to filter and segment metric definition views in Looker
"""
columns_as_dimensions = true
submission_date_column = "submission_date"
client_id_column = "client_id"

[data_sources.'*'.joins.looker_base_fields]

[data_sources.active_users_aggregates_v1]
columns_as_dimensions = true


[data_sources.countries]
from_expression = "mozdata.static.country_codes_v1"
client_id_column = "code"
friendly_name = "Countries"
description = "Countries"
columns_as_dimensions = true
submission_date_column = "NULL"


[data_sources.desktop_engagement_v1]
from_expression = "moz-fx-data-shared-prod.telemetry.desktop_engagement"
submission_date_column = "submission_date"
description = "Aggregated DAU, WAU, and MAU by different attributes for engagement ratio calculation."
friendly_name = "Desktop Engagement"
client_id_column = "NULL"
columns_as_dimensions = true

[data_sources.desktop_engagement_v1.joins.countries]
relationship = "one_to_many"
on_expression = "desktop_engagement_v1.country = countries.code"
