[metrics]
daily = [
    "retained",
    "client_level_daily_active_users_v2",
    "active_hours",
    "search_count",
    "total_uri_count",
]
weekly = [
    "retained",
    "active_hours",
    "days_of_use",
    "search_count",
    "serp_ad_clicks",
    "client_level_daily_active_users_v2",
    "total_uri_count",
]
overall = [
    "active_hours",
    "days_of_use",
    "search_count",
    "serp_ad_clicks",
    "client_level_daily_active_users_v2",
    "total_uri_count",
]

preenrollment_weekly = [
    "active_hours",
    "days_of_use",
    "search_count",
    "serp_ad_clicks",
    "client_level_daily_active_users_v2",
    "total_uri_count",
]

preenrollment_days28 = [
    "active_hours",
    "days_of_use",
    "search_count",
    "serp_ad_clicks",
    "client_level_daily_active_users_v2",
    "total_uri_count",
]

[metrics.retained]
select_expression = "COALESCE(COUNT(document_id), 0) > 0"
data_source = "baseline"

[metrics.retained.statistics]
binomial = {}

##

[metrics.active_hours.statistics]
deciles = {}
[metrics.active_hours.statistics.linear_model_mean]
[metrics.active_hours.statistics.linear_model_mean.covariate_adjustment]
period = "preenrollment_week"

##

[metrics.days_of_use.statistics]
deciles = {}
empirical_cdf = {}
[metrics.days_of_use.statistics.linear_model_mean]
drop_highest = 0.0
[metrics.days_of_use.statistics.linear_model_mean.covariate_adjustment]
period = "preenrollment_week"

##

[metrics.search_count.statistics]
deciles = {}
[metrics.search_count.statistics.linear_model_mean]
[metrics.search_count.statistics.linear_model_mean.covariate_adjustment]
period = "preenrollment_week"

##

[metrics.serp_ad_clicks]
friendly_name = "Ad Clicks"
description = "Number of ad clicks on a search engine results page."
select_expression = "{{agg_sum('ad_click')}}"
data_source = "mobile_search_clients_engines_sources_daily"

[metrics.serp_ad_clicks.statistics]
deciles = {}
[metrics.serp_ad_clicks.statistics.linear_model_mean]
[metrics.serp_ad_clicks.statistics.linear_model_mean.covariate_adjustment]
period = "preenrollment_week"

[metrics.client_level_daily_active_users_v2.statistics.per_client_dau_impact]
pre_treatments = ['normalize_over_analysis_period']

[metrics.total_uri_count]
friendly_name = "Total URI Count"
select_expression = "{{agg_sum('metrics.counter.tabs_normal_and_private_uri_count')}}"
data_source = "metrics"
description = "Total number of URIs visited by each client."

[metrics.total_uri_count.statistics]
deciles = {}
[metrics.total_uri_count.statistics.linear_model_mean]
[metrics.total_uri_count.statistics.linear_model_mean.covariate_adjustment]
period = "preenrollment_week"
