[experiment]
end_date = "2025-05-02"

segments = [
  "google_default_search",
  "bing_default_search",
  "ddg_default_search",
  "baidu_default_search",
  "qwant_default_search",
  "ecosia_default_search",
  "us",
  "ca",
  "fr",
  "de",
  "jp",
  "gb",
  "india",
  "marketing_tier1_countries",
  "row",
]

[metrics]
weekly = ['search_engine_default_change', 'non_default_search_engine_search']
overall = ['search_engine_default_change', 'non_default_search_engine_search']


[metrics.search_engine_default_change]
friendly_name = "Search Engine Default Changed"
description = "If the Search Engine Default Changed"
select_expression = """
      CAST(COALESCE(LOGICAL_OR(IF(event_name= 'changed' AND event_category = 'search.engine.default', TRUE, FALSE)), FALSE) AS INT)
"""
data_source = "glean_events_stream_filtered"

[metrics.non_default_search_engine_search]
friendly_name = "Search with Non-Default Search Engine"
description = "If Client Searched with Non-Default Search Engine"
select_expression = """
      CAST(COALESCE(LOGICAL_OR(IF(metrics.string.search_engine_default_display_name != urlbar_searchmode_searchbutton_search_engine AND urlbar_searchmode_searchbutton_search_engine_search_count > 0, TRUE, FALSE)), FALSE) AS INT)
"""
data_source = "metrics_unnested_urlbar_searchmode_searchbutton"


[metrics.search_engine_default_change.statistics.binomial]
[metrics.non_default_search_engine_search.statistics.binomial]


[data_sources.metrics_unnested_urlbar_searchmode_searchbutton]
friendly_name = "Glean Metrics"
description = "The Glean metrics ping"
from_expression = """(
    SELECT
      p.*, u.key AS urlbar_searchmode_searchbutton_search_engine, u.value AS urlbar_searchmode_searchbutton_search_engine_search_count,
      DATE(p.submission_timestamp) AS submission_date
    FROM `mozdata.firefox_desktop.metrics` p, UNNEST(metrics.labeled_counter.urlbar_searchmode_searchbutton) u
    )"""
client_id_column = "metrics.uuid.legacy_telemetry_client_id"
experiments_column_type = "glean"


[data_sources.glean_events_stream_filtered]
from_expression = """(
    SELECT *, DATE(submission_timestamp) AS submission_date
    FROM `moz-fx-data-shared-prod.firefox_desktop.events_stream` WHERE event_category = 'search.engine.default'
)"""
description = "Glean events_stream dataset filtered to event_category 'search.engine.default'"
friendly_name = "Glean Events Stream filtered to event_category 'search.engine.default'"
experiments_column_type = "none"
client_id_column = "legacy_telemetry_client_id"

[segments]

[segments.google_default_search]
select_expression = """
    COALESCE(
        LOGICAL_OR(
            `moz-fx-data-shared-prod`.udf.normalize_search_engine(default_search_engine) = 'Google'
        ), FALSE
    )"""
description = "Clients with Google as default search engine"
data_source = "clients_daily"

[segments.bing_default_search]
select_expression = """
    COALESCE(
        LOGICAL_OR(
            `moz-fx-data-shared-prod`.udf.normalize_search_engine(default_search_engine) = 'Bing'
        ), FALSE
    )"""
description = "Clients with Bing as default search engine"
data_source = "clients_daily"

[segments.ddg_default_search]
select_expression = """
    COALESCE(
        LOGICAL_OR(
            `moz-fx-data-shared-prod`.udf.normalize_search_engine(default_search_engine) = 'DuckDuckGo'
        ), FALSE
    )"""
description = "Clients with DDG as default search engine"
data_source = "clients_daily"

[segments.baidu_default_search]
select_expression = """
    COALESCE(
        LOGICAL_OR(
            `moz-fx-data-shared-prod`.udf.normalize_search_engine(default_search_engine) = 'Baidu'
        ), FALSE
    )"""
description = "Clients with Baidu as default search engine"
data_source = "clients_daily"

[segments.qwant_default_search]
select_expression = """
    COALESCE(
        LOGICAL_OR(
            `moz-fx-data-shared-prod`.udf.normalize_search_engine(default_search_engine) = 'Qwant'
        ), FALSE
    )"""
description = "Clients with Qwant as default search engine"
data_source = "clients_daily"

[segments.ecosia_default_search]
select_expression = """
    COALESCE(
        LOGICAL_OR(
            `moz-fx-data-shared-prod`.udf.normalize_search_engine(default_search_engine) = 'Ecosia'
        ), FALSE
    )"""
description = "Clients with Ecosia as default search engine"
data_source = "clients_daily"

[segments.us]
select_expression = "COALESCE(LOGICAL_OR(country = 'US'), FALSE)"
description = "Clients in US"
data_source = "clients_daily"

[segments.ca]
select_expression = "COALESCE(LOGICAL_OR(country = 'CA'), FALSE)"
description = "Clients in Canada"
data_source = "clients_daily"

[segments.de]
select_expression = "COALESCE(LOGICAL_OR(country = 'DE'), FALSE)"
description = "Clients in Germany"
data_source = "clients_daily"

[segments.fr]
select_expression = "COALESCE(LOGICAL_OR(country = 'FR'), FALSE)"
description = "Clients in France"
data_source = "clients_daily"

[segments.gb]
select_expression = "COALESCE(LOGICAL_OR(country = 'GB'), FALSE)"
description = "Clients in GB"
data_source = "clients_daily"

[segments.marketing_tier1_countries]
select_expression = "COALESCE(LOGICAL_OR(country IN ('CA', 'DE', 'FR', 'GB', 'US')), FALSE)"
description = "Clients in marketing Tier 1 countries"
data_source = "clients_daily"

[segments.jp]
select_expression = "COALESCE(LOGICAL_OR(country = 'JP'), FALSE)"
description = "Clients in Japan"
data_source = "clients_daily"

[segments.india]
select_expression = "COALESCE(LOGICAL_OR(country = 'IN'), FALSE)"
description = "Clients in India"
data_source = "clients_daily"

[segments.row]
select_expression = "COALESCE(LOGICAL_OR(country NOT IN ('JP', 'IN, 'CA', 'DE', 'FR', 'GB', 'US')), FALSE)"
description = "Clients in countries not covered by previous country segments"
data_source = "clients_daily"

[segments.data_sources.clients_daily]
from_expression = "mozdata.telemetry.clients_daily"
window_start = 0
window_end = 0
