[experiment]

[experiment.exposure_signal]
name = "opened_pbm"
friendly_name = "Opened PBM"
description = "The set of clients that opened PBM"
select_expression = "COALESCE(dom_parentprocess_private_window_used, false)"
data_source = "clients_daily_v6"
window_end = "7

[data_sources]

[data_sources.clients_daily_v6]
from_expression = "moz-fx-data-shared-prod.telemetry_derived.clients_daily_v6"
friendly_name = "Clients Daily"
description = "Clients Daily"
