[metrics]
overall = ['dictionary_addon_install', 'addons_count']
weekly = ['dictionary_addon_install', 'addons_count']

[metrics.dictionary_addon_install]
select_expression = """CAST(COALESCE(
  LOGICAL_OR(
    (SELECT ARRAY_LENGTH(
      ARRAY_AGG(IF(value.name IN 
('Dictionary Anywhere'), value.name, NULL) IGNORE NULLS))  
FROM UNNEST(environment.addons.active_addons)) >= 1), FALSE) AS INT)"""
data_source = 'main'
friendly_name = 'Dictionary Anywhere addon install'
description = 'If Dictionary Anywhere addon installed'

[metrics.dictionary_addon_install.statistics.bootstrap_mean]

[metrics.addons_count]
select_expression = """COALESCE(MAX((SELECT ARRAY_LENGTH(ARRAY_AGG(IF(NOT is_system, addon_id, NULL) IGNORE NULLS)) FROM UNNEST(active_addons))), 0)"""
data_source = 'clients_daily'
friendly_name = 'Count of installed self-installed active addons'
description = 'The number of self-installed active addons'

[metrics.addons_count.statistics.binomial]


[segments.has_self_installed_addons]
select_expression = """COALESCE(LOGICAL_OR(self_installed_addon), FALSE)"""
data_source = 'clients_daily_with_addons'

[segments.data_sources]

[segments.data_sources.clients_daily_with_addons]
from_expression = """(
     SELECT 
          *,
          CASE WHEN NOT is_system AND addon_id IS NOT NULL THEN TRUE ELSE FALSE END AS self_installed_addon 
          FROM mozdata.telemetry.clients_daily, UNNEST(active_addons))"""


[experiment]
segments = [
     'has_self_installed_addons'
]