[metrics]

weekly = [
  'power_total_cpu_time_ms', 
  'power_total_gpu_time_ms',
  'power_total_thread_wakeups',
  'power_cpu_time_per_process_type_web_background_ms',
  'power_wakeups_per_process_type_web_background',
  'muted_play_time_percent_A',
  'muted_play_time_percent_AV',  
]
overall = [
  'power_total_cpu_time_ms',
  'power_total_gpu_time_ms',
  'power_total_thread_wakeups',
  'power_cpu_time_per_process_type_ms_web_background_ms',
  'power_wakeups_per_process_type_web_background',
  'muted_play_time_percent_A',
  'muted_play_time_percent_AV',  
]

#power_total_cpu_time_ms
[metrics.power_total_cpu_time_ms]
data_source = "glean_metrics"
select_expression = "COALESCE(SUM(metrics.counter.power_total_cpu_time_ms),0)"

[metrics.power_total_cpu_time_ms.statistics.bootstrap_mean]
pre_treatments = ["remove_nulls"]

#power_total_gpu_time_ms
[metrics.power_total_gpu_time_ms]
data_source = "glean_metrics"
select_expression = "COALESCE(SUM(metrics.counter.power_total_gpu_time_ms),0)"

[metrics.power_total_gpu_time_ms.statistics.bootstrap_mean]
pre_treatments = ["remove_nulls"]

#power_total_thread_wakeups
[metrics.power_total_thread_wakeups]
data_source = "glean_metrics"
select_expression = "COALESCE(SUM(metrics.counter.power_total_thread_wakeups),0)"

[metrics.power_total_thread_wakeups.statistics.bootstrap_mean]
pre_treatments = ["remove_nulls"]

#power_cpu_time_per_process_type_web_background_ms
[metrics.power_cpu_time_per_process_type_web_background_ms]
data_source = "glean_metrics"
select_expression = '''COALESCE(SUM(mozfun.map.key_key(metrics.labeled_counter.power_cpu_time_per_process_type_ms, "web.background"),0)'''

[metrics.power_cpu_time_per_process_type_web_background_ms.statistics.bootstrap_mean]
pre_treatments = ["remove_nulls"]

#power_wakeups_per_process_type_web_background
[metrics.power_wakeups_per_process_type_web_background]
data_source = "glean_metrics"
select_expression = '''COALESCE(SUM(mozfun.map.get_key(metrics.labeled_counter.power_wakeups_per_process_type, "web.background")),0)'''

[metrics.power_wakeups_per_process_type_web_background.statistics.bootstrap_mean]
pre_treatments = ["remove_nulls"]

#muted_play_time_percent_A
[metrics.muted_play_time_percent_A]
data_source = "main"
select_expression = '''COALESCE({{agg_histogram_mean("mozfun.map.get_key(payload.keyed_histograms.muted_play_time_percent, 'A')")}},0)'''

[metrics.muted_play_time_percent_A.statistics.bootstrap_mean]
pre_treatments = ["remove_nulls"]

#muted_play_time_percent_AV
[metrics.muted_play_time_percent_AV]
data_source = "main"
select_expression = '''COALESCE({{agg_histogram_mean("mozfun.map.get_key(payload.keyed_histograms.muted_play_time_percent, 'AV')")}},0)'''

[metrics.muted_play_time_percent_AV.statistics.bootstrap_mean]
pre_treatments = ["remove_nulls"]

[data_sources]
[data_sources.glean_metrics]
from_expression = """(
    SELECT
        *,
        DATE(submission_timestamp) AS submission_date,
        metrics.uuid.legacy_telemetry_client_id AS client_id
    FROM `moz-fx-data-shared-prod.firefox_desktop.metrics`
)"""
experiments_column_type = "glean"
friendly_name = "Glean Metrics"
description = "Glean Metrics Ping"
