[experiment]

enrollment_query = '''
SELECT
    e.client_id,
    `mozfun.map.get_key`(e.event_map_values, 'branch')
        AS branch,
    MIN(e.submission_date) AS enrollment_date,
    COUNT(e.submission_date) AS num_enrollment_events
FROM
    `moz-fx-data-shared-prod.telemetry.events` e
WHERE
    e.event_category = 'normandy'
    AND e.event_method = 'enroll'
    AND e.submission_date
        BETWEEN '2023-05-25' AND '2023-06-07'
    AND e.event_string_value = 'firefox-accounts-toolbar-button-default-visibility-part-2'
    AND sample_id <= 20
GROUP BY e.client_id, branch
'''

[metrics]

overall = ['is_synced']
weekly = ['is_synced']

[metrics.is_synced]
data_source = 'clients_daily'
select_expression = 'CAST(COALESCE(LOGICAL_OR(fxa_configured), FALSE) AS int)'

[metrics.is_synced.statistics.binomial]
