[experiment]

end_date = "2026-02-22"
enrollment_period = 5

# Third tile metrics
[metrics]

daily = ["total_third_tile_impressions",
            "total_third_tile_clicks",
            "total_third_tile_ctr"]
weekly = ["total_third_tile_impressions",
            "total_third_tile_clicks", 
            "total_third_tile_ctr",
            "sponsored_tile_impressions",
            "sponsored_tile_clicks",
            "newtab_sponsored_tiles_enabled",
            "newtab_visits",
            "newtab_engaged_visits", 
            "newtab_organic_topsite_clicks_v2",
            "newtab_organic_topsite_impressions_v2",
            "sponsored_tile_ctr"]
overall = ["total_third_tile_impressions",
            "total_third_tile_clicks",
            "total_third_tile_ctr", 
            "sponsored_tile_impressions",
            "sponsored_tile_clicks",
            "sponsored_tile_ctr",
            "newtab_sponsored_tiles_enabled",
            "newtab_visits",
            "newtab_engaged_visits", 
            "newtab_organic_topsite_clicks_v2",
            "newtab_organic_topsite_impressions_v2"]

[metrics.total_third_tile_impressions]
data_source = "newtab_tiles_third_spot_metrics"
select_expression = "COALESCE(SUM(impression_count), 0)"
friendly_name = "Total Impressions for Third Tile"
type = "scalar"
description = """
Total Impressions (sponsored and organic) for Third Tile
"""

[metrics.total_third_tile_clicks]
data_source = "newtab_tiles_third_spot_metrics"
select_expression = "COALESCE(SUM(click_count), 0)"
friendly_name = "Total Clicks for Third Tile"
type = "scalar"
description = """
Total Clicks (sponsored and organic) for Third Tile.
"""

[metrics.total_third_tile_clicks.statistics.sum]
[metrics.total_third_tile_clicks.statistics.linear_model_mean]
[metrics.total_third_tile_impressions.statistics.sum]
[metrics.total_third_tile_impressions.statistics.linear_model_mean]

[metrics.total_third_tile_ctr]
depends_on=['total_third_tile_clicks', 'total_third_tile_impressions']
friendly_name = "Sponsored Tile Click Through Rate"
description = """
Rate of Clicks per Impression Sponsored Tiles (aka Sponsored Topsites on New Tab) across all positions.
"""

[metrics.total_third_tile_ctr.statistics.population_ratio]
numerator='total_third_tile_clicks'
denominator='total_third_tile_impressions'



# Guardrail metrics
[metrics.newtab_sponsored_tiles_enabled.statistics.binomial]
[metrics.newtab_visits.statistics.bootstrap_mean]
[metrics.newtab_visits.statistics.deciles]

[metrics.newtab_engaged_visits.statistics.bootstrap_mean]
[metrics.newtab_engaged_visits.statistics.deciles]

[metrics.sponsored_tile_clicks.statistics.sum]
[metrics.sponsored_tile_clicks.statistics.linear_model_mean]
[metrics.sponsored_tile_impressions.statistics.sum]
[metrics.sponsored_tile_impressions.statistics.linear_model_mean]

[metrics.sponsored_tile_ctr.statistics.population_ratio]
numerator='sponsored_tile_clicks'
denominator='sponsored_tile_impressions'

[metrics.newtab_organic_topsite_clicks_v2.statistics.sum]
[metrics.newtab_organic_topsite_clicks_v2.statistics.linear_model_mean]
[metrics.newtab_organic_topsite_impressions_v2.statistics.sum]
[metrics.newtab_organic_topsite_impressions_v2.statistics.linear_model_mean]


[data_sources]
[data_sources.newtab_tiles_third_spot_metrics]
from_expression = "(SELECT * FROM moz-fx-data-shared-prod.firefox_desktop_derived.newtab_client_tile_component_daily_v1 WHERE position = 2)"
friendly_name = "Newtab Topsites 3rd Tile Metrics"
experiments_column_type = "native"
description = "Newtab Topsites metrics for 3rd tile only"
