[experiment]

enrollment_query = """(
WITH enrollments_raw AS (
    SELECT
        e.client_id AS analysis_id,
        `mozfun.map.get_key`(e.event_map_values, 'branch')
            AS branch,
        MIN(e.submission_date) AS enrollment_date,
        COUNT(e.submission_date) AS num_enrollment_events, 
        ANY_VALUE(sample_id)
    FROM
        `moz-fx-data-shared-prod.telemetry.events` e
    WHERE
        e.event_category = 'normandy'
        AND e.event_method = 'enroll'
        AND e.submission_date
            BETWEEN '2024-10-07' AND '2024-10-25'
        AND e.event_string_value = 'improved-mailto-handling-with-os-integration'
    GROUP BY e.client_id, branch
    ), non_dupes AS (
        SELECT 
            client_id, COUNT(*) AS n_rows
        FROM enrollments_raw
        GROUP BY 1
        HAVING n_rows = 1
    ), cleaned AS (
        SELECT er.*
        FROM enrollments_raw er
        INNER JOIN non_dupes
        USING(client_id)            
        WHERE num_enrollment_events = 1  
    )

    SELECT * EXCEPT(sample_id)
    FROM cleaned
    WHERE (
        (branch = 'treatment-a' AND sample_id < 11)
        OR 
        (branch != 'treatment-a')
    )
)"""
