[experiment]

[experiment.exposure_signal]
name = "opened_pbm"
friendly_name = "Opened PBM"
description = "The set of clients that opened PBM"
select_expression = "COALESCE(dom_parentprocess_private_window_used, false)"
data_source = "clients_daily_v6"
window_end = "analysis_window_end"

[data_sources]

[data_sources.main] 
from_expression = """(
    SELECT
        *,
        DATE(submission_timestamp) AS submission_date,
        environment.experiments
    FROM `moz-fx-data-shared-prod.telemetry_stable.main_v4`
    WHERE mozfun.map.get_key(environment.experiments, 'limited-font-visibility-for-fingerprinters') IS NOT NULL
)"""
experiments_column_type = "native"
friendly_name = "Main"
description = "Main ping table"
