[data_sources]

[data_sources.main] 
from_expression = """(
    SELECT
        *,
        DATE(submission_timestamp) AS submission_date,
        environment.experiments
    FROM `moz-fx-data-shared-prod.telemetry_stable.main_v4`
    WHERE mozfun.map.get_key`(ds.experiments, 'limited-font-visibility-for-fingerprinters') IS NOT NULL
)"""
experiments_column_type = "native"
friendly_name = "Main"
description = "Main ping table"
