[experiment]

end_date = "2026-03-03"


[metrics]
weekly = ["opened_private_window"]
overall = ["opened_private_window"]

[metrics.opened_private_window]
data_source = "clients_daily"
select_expression = "COALESCE(MAX(CAST(dom_parentprocess_private_window_used AS int)), 0)"

[metrics.opened_private_window.statistics.binomial]

segments = [
  "activity_infrequent",
  "activity_casual",
  "activity_core",
  "regular_users_v3",

  "profile_age_0_to_28_days",
  "profile_age_29_to_180_days",
  "profile_age_more_than_180_days",

  "os_windows",
  "os_mac",
  "os_linux",

  "country_tier_1",
  "country_tier_other",
]

[segments.profile_age_0_to_28_days]
friendly_name = "Profile Age 0 to 28 days"
description = "Time since first-seen 0-28 days"
select_expression = "COALESCE(LOGICAL_OR(days_since_first_seen <= 28), FALSE)"
data_source = "clients_last_seen"

[segments.profile_age_29_to_180_days]
friendly_name = "Profile Age 29 to 180 days"
description = "Time since first-seen 29-180 days"
select_expression = "COALESCE(LOGICAL_OR(days_since_first_seen BETWEEN 29 AND 180), FALSE)"
data_source = "clients_last_seen"

[segments.profile_age_more_than_180_days]
friendly_name = "Profile Age more than 180 days"
description = "Time since first-seen more than 180 days"
select_expression = "COALESCE(LOGICAL_OR(days_since_first_seen > 180), FALSE)"
data_source = "clients_last_seen"

[segments.os_windows]
friendly_name = "Windows"
description = "Users on Windows"
select_expression = "COALESCE(LOGICAL_OR(LOWER(os) LIKE '%windows%'), FALSE)"
data_source = "clients_last_seen"

[segments.os_mac]
friendly_name = "Mac"
description = "Users on Mac"
select_expression = "COALESCE(LOGICAL_OR(LOWER(os) = 'darwin'), FALSE)"
data_source = "clients_last_seen"

[segments.os_linux]
friendly_name = "Linux"
description = "Users on Linux"
select_expression = "COALESCE(LOGICAL_OR(LOWER(os) = 'linux'), FALSE)"
data_source = "clients_last_seen"

[segments.country_tier_1]
data_source = "clients_daily"
friendly_name = "Country Tier 1"
description = "Clients from tier 1 countries (US, CA, GB, AU, IE, NZ)"
select_expression = """LOGICAL_OR(COALESCE(country IN ('US', 'CA', 'GB', 'AU', 'IE', 'NZ'), FALSE))"""

[segments.country_tier_other]
data_source = "clients_daily"
friendly_name = "Country Tier Other"
description = "Clients from non tier 1 countries (US, CA, GB, AU, IE, NZ)"
select_expression = """LOGICAL_AND(COALESCE(country NOT IN ('US', 'CA', 'GB', 'AU', 'IE', 'NZ'), TRUE))"""
