[experiment.exposure_signal]
name = "exposed_session"
friendly_name = "Exposed"
description = "The set of clients that typed 5+ characters to trigger an AMP result"
select_expression = "COALESCE(LOGICAL_OR(product_result_type
 = 'history', false)"
data_source =  "urlbar_events_unnested_results"
window_end = "analysis_window_end"

[metrics]
weekly = ["history_impressions", "bookmark_impressions", "search_suggestion_impressions", 
"history_clicks", "bookmark_clicks", "search_suggestion_clicks", "history_ctr", "bookmark_ctr", 
"search_suggestion_ctr", "history_impression_rate", "bookmark_impression_rate", "search_suggestion_impression_rate"]
overall = ["history_impressions", "bookmark_impressions", "search_suggestion_impressions",
"history_clicks", "bookmark_clicks", "search_suggestion_clicks", "history_ctr", "bookmark_ctr", 
"search_suggestion_ctr", "history_impression_rate", "bookmark_impression_rate", "search_suggestion_impression_rate"]

## Impressions
[metrics.history_impressions]
select_expression = "COUNT(DISTINCT IF(is_terminal AND result.product_result_type = 'history', event_id, NULL))"
data_source = "urlbar_events_unnested_results"
[metrics.history_impressions.statistics.bootstrap_mean]

[metrics.bookmark_impressions]
select_expression = "COUNT(DISTINCT IF(is_terminal AND result.product_result_type = 'bookmark', event_id, NULL))"
data_source = "urlbar_events_unnested_results"
[metrics.bookmark_impressions.statistics.bootstrap_mean]

[metrics.search_suggestion_impressions]
select_expression = "COUNT(DISTINCT IF(is_terminal AND result.product_result_type = 'default_partner_search_suggestion', event_id, NULL))"
data_source = "urlbar_events_unnested_results"
[metrics.search_suggestion_impressions.statistics.bootstrap_mean]

## Clicks
[metrics.history_clicks]
select_expression = "COUNTIF(is_terminal and event_action = 'engaged' and product_engaged_result_type = 'history')"
data_source = "urlbar_events"
[metrics.history_clicks.statistics.bootstrap_mean]

[metrics.bookmark_clicks]
select_expression = "COUNTIF(is_terminal and event_action = 'engaged' and product_engaged_result_type = 'bookmark')"
data_source = "urlbar_events"
[metrics.bookmark_clicks.statistics.bootstrap_mean]

[metrics.search_suggestion_clicks]
select_expression = "COUNTIF(is_terminal and event_action = 'engaged' and product_engaged_result_type = 'default_partner_search_suggestion')"
data_source = "urlbar_events"
[metrics.search_suggestion_clicks.statistics.bootstrap_mean]

## CTR
[metrics.history_ctr]
depends_on = ["history_clicks", "history_impressions"]
friendly_name = "History CTR"
description = "Proportion of urlbar sessions where suggestion from the user's browsing history was clicked, out of all urlbar sessions where one was shown (not available on control)"

[metrics.history_ctr.statistics.population_ratio]
numerator = "history_clicks"
denominator = "history_impressions"

[metrics.bookmark_ctr]
depends_on = ["bookmark_clicks", "bookmark_impressions"]
friendly_name = "Bookmark CTR"
description = "Proportion of urlbar sessions where suggestion from the user's bookmarks was clicked, out of all urlbar sessions where one was shown (not available on control)"

[metrics.bookmark_ctr.statistics.population_ratio]
numerator = "bookmark_clicks"
denominator = "bookmark_impressions"

[metrics.search_suggestion_ctr]
depends_on = ["search_suggestion_clicks", "search_suggestion_impressions"]
friendly_name = "Search Suggestion CTR"
description = "Proportion of urlbar sessions where suggestion from the default search engine was clicked, out of all urlbar sessions where one was shown (not available on control)"

[metrics.search_suggestion_ctr.statistics.population_ratio]
numerator = "search_suggestion_clicks"
denominator = "search_suggestion_impressions"

## Impression Rate
[metrics.history_impression_rate]
depends_on = ["history_impressions", "urlbar_impressions"]
friendly_name = "History Impression Rate"
description = "Proportion of history impressions out of all urlbar sessions (not available on control)"

[metrics.history_impression_rate.statistics.population_ratio]
numerator = "history_impressions"
denominator = "urlbar_impressions"

[metrics.bookmark_impression_rate]
depends_on = ["bookmark_impressions", "urlbar_impressions"]
friendly_name = "Bookmark Impression Rate"
description = "Proportion of bookmark impressions out of all urlbar sessions (not available on control)"

[metrics.bookmark_impression_rate.statistics.population_ratio]
numerator = "bookmark_impressions"
denominator = "urlbar_impressions"

[metrics.search_suggestion_impression_rate]
depends_on = ["search_suggestion_impressions", "urlbar_impressions"]
friendly_name = "Search suggestion Impression Rate"
description = "Proportion of search suggestion impressions out of all urlbar sessions (not available on control)"

[metrics.bsearch_suggestion_impression_rate.statistics.population_ratio]
numerator = "search_suggestion_impressions"
denominator = "urlbar_impressions"
