[experiment]

segments = [
  "os_windows",
  "os_mac",
  "os_linux",

  "last_dau_28_to_59_days_ago",
  "last_dau_60_to_119_days_ago",
  "last_dau_120_to_180_days_ago",
  "new_or_last_dau_180plus_days_ago",
]

[segments.os_windows]
friendly_name = "Windows"
description = "Users on Windows"
select_expression = "COALESCE(LOGICAL_OR(LOWER(os) LIKE '%windows%'), FALSE)"
data_source = "clients_last_seen"

[segments.os_mac]
friendly_name = "Mac"
description = "Users on Mac"
select_expression = "COALESCE(LOGICAL_OR(LOWER(os) = 'darwin'), FALSE)"
data_source = "clients_last_seen"

[segments.os_linux]
friendly_name = "Linux"
description = "Users on Linux"
select_expression = "COALESCE(LOGICAL_OR(LOWER(os) = 'linux'), FALSE)"
data_source = "clients_last_seen"

[segments.last_dau_28_to_59_days_ago]
friendly_name = "Last DAU 28 to 59 days ago"
description = "Clients who last counted towards DAU 28–59 days before enrollment"
select_expression = "COALESCE(DATE_DIFF(MIN(e.enrollment_date), MAX(submission_date), DAY) BETWEEN 28 AND 59, FALSE)"
data_source = "active_users_last_seen"
window_start = -190
window_end = -1

[segments.last_dau_60_to_119_days_ago]
friendly_name = "Last DAU 60 to 119 days ago"
description = "Clients who last counted towards DAU 60–119 days before enrollment"
select_expression = "COALESCE(DATE_DIFF(MIN(e.enrollment_date), MAX(submission_date), DAY) BETWEEN 60 AND 119, FALSE)"
data_source = "active_users_last_seen"
window_start = -190
window_end = -1

[segments.last_dau_120_to_180_days_ago]
friendly_name = "Last DAU 120 to 180 days ago"
description = "Clients who last counted towards DAU 120–180 days before enrollment"
select_expression = "COALESCE(DATE_DIFF(MIN(e.enrollment_date), MAX(submission_date), DAY) BETWEEN 120 AND 180, FALSE)"
data_source = "active_users_last_seen"
window_start = -190
window_end = -1

[segments.new_or_last_dau_180plus_days_ago]
friendly_name = "New or last DAU 180+ days ago"
description = """
New Clients, or those whose last DAU before enrollment is >180 days ago (or no DAU observed in lookback window).
"""
select_expression = """
  (
    MAX(submission_date) IS NULL
    OR DATE_DIFF(MIN(e.enrollment_date), MAX(submission_date), DAY) > 180
  )
"""
data_source = "active_users_last_seen"
window_start = -182
window_end = -1

[segments.data_sources.active_users_last_seen]
from_expression = """(
  SELECT
    client_id,
    profile_group_id,
    submission_date
  FROM `mozdata.telemetry.desktop_active_users`
  WHERE is_desktop
    AND is_dau
    AND submission_date >= DATE_SUB('2026-02-17', INTERVAL 182 DAY)
)"""
window_start = -182