name: "Auto approve"
on:
  pull_request:
    branches:
      - main

jobs:
  changed:
    runs-on: ubuntu-latest 
    name: Get changed metric definition files
    permissions:
      pull-requests: write
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Get changed files in the metrics definitions folder
      id: changed-files-specific
      uses: tj-actions/changed-files@v46
      with:
        files: |
          definitions/*.toml
          lib/
          .github/
          .circleci/
    outputs:
      any_changed: ${{ steps.changed-files-specific.outputs.any_changed }}

  approve:
    name: Auto approve PR if no metrics definitions changed
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest 
    needs: changed
    steps:
    - uses: actions/github-script@v6
      if: needs.changed.outputs.any_changed == 'false'
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          github.rest.pulls.createReview({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: context.issue.number,
            event: "APPROVE"
          })
