name: "Auto approve"
on:
  pull_request:
    branches:
      - main

jobs:
  changed:
    uses: ./.github/workflows/changed-files.yml
    with:
      path_filter: |
        definitions/*.toml
        lib/
        .github/
        .circleci/

  approve:
    name: Auto approve PR if no metrics definitions changed
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest 
    needs: changed
    steps:
    - uses: actions/github-script@v6
      if: needs.changed.outputs.any_changed == 'false'
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          github.rest.pulls.createReview({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: context.issue.number,
            event: "APPROVE"
          })
    - name: Skip
      if: needs.changed.outputs.any_changed == 'true'
      env:
        ALL_CHANGED_FILES: ${{ needs.changed.outputs.all_changed_files }}
      run: |
        echo "Metric definitions changed, needs manual review"
        echo "Changed files: $ALL_CHANGED_FILES"

