name: "Build docs"

on:
  push:
    branches:
      - main

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: 'pip'
    - name: Build docs
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r .script/requirements.txt
        python .script/generate_docs.py \
          --output_dir=generated_docs/
    - name: Upload docs artifacts
      uses: actions/upload-pages-artifact@v3
      with:
        path: generated_docs/
  
  deploy-docs:
    runs-on: ubuntu-latest
    needs: build-docs
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    steps:
    - name: Deploy docs
      uses: actions/deploy-pages@v4
